body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

#app {
    max-width: 320px;
    width: 80%; 
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

header h1 {
    color: #FFA500;
    margin-bottom: 10px;
}

header img.app-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

section {
    margin-top: 10px;
    text-align: center;
}

h2 {
    color: #FFA500;
}

p {
    color: #555;
    line-height: 1.6;
    margin: 0;
}

#info-autores h1 {
    color: #333;
}

#info-autores p {
    color: #555;
}
